includes:
    - doctrine.neon

parameters:
    doctrine:
        host: db
        user: root
        password: root
        dbname: aktin

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\Router\RouterFactory::createRouter
